.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%; 
  max-height: 90%;
  overflow-y: auto; 
  position: relative; 
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 5px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}


.description {
  padding: 16px;
  font-size: 1em;
  color: #555;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}


.accessNum {
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox {
  position: absolute;
  margin-top: 10px;
  left: 0px;
  width: 20%;
  height: 20px;
}