.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
  flex-wrap: wrap;
}

.search {
  padding: 5px;
  background-color: #eaeaea;
  border: 1px solid #0a0a0a;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: auto; 
}

.search input {
  padding: 8px;
  background-color: #eaeaea;
  border: 5px solid #7e7777;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.search input::placeholder {
  color: #1b0b0b;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background-color: red;
  padding: 7px;
  border-radius: 20%;
}

.icons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.user-icon, .cart-icon {
  padding: 10px;
  background-color: #eaeaea;
  border: 2px solid #ccc;
  border-radius: 5px;
  transform: scale(1.2);
  cursor: pointer;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .search {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .icons {
    flex-direction: column;
    gap: 5px;
  }
}
