.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: relative;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.search input {
  padding: 8px;
  background-color: #eaeaea; 
  border: 1px solid #ccc;    
  border-radius: 50px;
  text-align: center;
  width: 500px; 
}

.search input::placeholder {
  color: #1b0b0b; 
}

.search-icon {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  left: calc(100% + 4px); 
  background-color: red; 
  padding: 7px; 
  border-radius: 20%;
}

.icons {
  display: flex;
  gap: 10px;
  margin-left: auto; 
}

.user-icon, .cart-icon {
  padding: 10px;
  background-color: #eaeaea;
  border: 2px solid #ccc;
  border-radius: 5px;
  transform: scale(1.2); 
}

  
  