.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: relative;
  }
  
  .icons {
    display: flex;
    gap: 20px;
    margin-left: auto; 
  }
  
  .user-icon, .cart-icon {
    padding: 10px;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    border-radius: 5px;
    transform: scale(1.2); 
  }
  
    
    